/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Product details container */
.product-details {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* Product name */
.product-details h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Product description */
.product-details p {
    margin-bottom: 10px;
}

/* Price */
.product-details p:last-child {
    font-weight: bold;
}

/* Add to cart button */
.product-details form {
    margin-top: 20px;
}

.product-details button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.product-details button:hover {
    background-color: #0056b3;
}


img{
    max-width: 600px;
    max-height: 540px;
}