<!DOCTYPE html>
<html>
<head>
  <title>Query Results</title>
  <link rel="stylesheet" type="text/css" href="results.css">
</head>
<body>
  <h1>Query Results</h1>
  <table>
    <tr>
      <% Object.keys(rows[0]).forEach(column => { %>
        <th><%= column %></th>
      <% }); %>
    </tr>
    <% rows.forEach(row => { %>
      <tr>
        <% Object.values(row).forEach(value => { %>
          <td><%= value %></td>
        <% }); %>
      </tr>
    <% }); %>
  </table>
</body>
</html>
